
<div class="background"></div>
<div class="main_container">
    <div class="header">
        <div class="title baloo-font">
            Welcome
        </div>
        <div class="subTitle">
            Jest one more step
        </div>
        <Menu [hideMenu]="true"></Menu>
    </div>

    <div class="steps_container">
        <div class="content text-center">
            <form>
                <div class="step_header">
                    <img class="logo" src="./assets/images/logo.png" />
                </div>
                <div class="forget_msg">
                    <div class="btn_container" (click)="Next()">
                        <div id="send" class="btn baloo-font">
                            <span>Next</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

