.main_container {
    width: 100%;
    height: 100%;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 5vmin;
    text-align: center;
    z-index: 200;
    background: linear-gradient(#fcfcfc,#f8f8f9);
}

.header {
    width: 70%;
    margin: auto;
}

Menu {
    position: absolute;
    top: 12vmin;
    left: 4%;
    margin: 0;
    padding: 0;
}

.main_title {
    font-size: var(--main_font_size-);
}

.sub_title {
    font-size: var(--medium_font_size-);
    color: var(--font_color-);
    margin: 2% 0;
}

.product_input {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 8%;
    margin: 3% auto;
    border: 0;
    padding: 2% 11%;
    background: white url('../../../assets/images/search.png') no-repeat 3% 50%;
}


.list_container {
    width: 100%;
    overflow-y: scroll;
    margin-top: 33vmin;
}

.item {
    width: 92%;
    margin: 2% auto;
    background: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    position: relative;
    height: 130px;
    overflow: hidden;
}
.trash {
    position:absolute;
    right:5px;
    top:5px;
    width:25px;
    z-index:150;
}
.picture_container {
    position: relative;
    height: 100%;
    width: 40%;
    float: left;
}
.picture {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.specialist {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 0;
}

.description {
    font-size: 1em;
    margin-bottom: 3px;
    height: 55px;
    overflow: hidden;
}

.site {
    color: var(--font_color-);
    font-size: 0.8em;
    vertical-align: super;
}

.price {
    float: right;
    font-size: 0.9em;
}

.txt_container {
    position: relative;
    float: left;
    margin-left:5%;
    height: 100%;
    max-width: 50%;
    padding: 5px;
    color: black;
}
.available {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #32dc2c;
    vertical-align: sub;
    display: inline-block;
    opacity:0;
}

    .available.online {
        opacity:1;
    }

.specialities {
    font-size: 0.8em;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
}

.btn {
    text-align: center;
    padding: 3px 7px;
    border-radius: 30px;
    font-size: 0.7em;
    margin-left: 8px;
    position: absolute;
    left: 10px;
    bottom: 8px;
    color: white;
}
    .btn > a {
        color: white;
    }

.chat {
    left: unset;
    right: 9px;
    padding: 3px 10px;
}
Follow {
    position: absolute;
    right: -15px;
    width: 30px;
    bottom: 8px;
}
.main_container.rtl {
    direction: rtl;
}

.txt_container.rtl {
    float: left;
}
.picture.rtl {
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.specialist.rtl {
    right: 34%;
}

.arrow.rtl {
    left: 4%;
    transform: rotate(180deg);
}

.product_input.rtl {
    direction: rtl;
    background: white url('../../../assets/images/search.png') no-repeat 97% 50%;
}

@media(orientation:landscape) {

        .specialist.rtl {
            right: 26%;
        }

     .product_input {
        margin: 2% auto;
    }
}
@media (min-width: 1000px) {
    .top{
        max-width: 600px;
        margin: auto;
        margin-top:65px;
        padding-top:0;
        position: absolute;
    }
    .list_container {
        margin-top: 180px;
    }
}