<div class="background"></div>
<div class="main_container">
    <div class="top">
        <Menu style="width: 92%;"></Menu>
        <div class="main_title baloo-font">{{__about_title}}</div>
        <div class="sub_title">{{__about_subtitle}}</div>
    </div>
    <div class="container_details">
        <!-- <div class="picture_container">
            <img class="picture" src="./assets/images/people.jpg" />
            <img class="group_icons" src="./assets/images/group_icons.png" />
            <div class="clear"></div>
        </div> -->
        <div class="clear"></div>
        <div class="text_header">
            Hi Let's Buy is a community of listening,<br />
            helping and buying together
        </div>
        <div class="text_about">
            "hi lets buy" is an app and web international platform which enable people that define themselves as
            expertise with online shopping of any ecommerce products, serve as shopping advisors to people who wish to
            shop but not familiar with online shopping.<br />
            "hi lets buy " enable, by easy and friendly communication chat to connect among people all over the world
            who would like to shop, advise, get information and discuss in any ecommerce product.<br />
            now,its your time for experience with us so: Skip ,scan, roll, browse ,click ,choose , meet , speak, chat
            and Let's start shop online with your favorite advisor.

        </div>
        <img class="parachute_icon" src="./assets/images/parachute_icon.png" />
    </div>
    <div class="btn_container">
        <div class="bigger btn baloo-font" [routerLink]="['/Sites']">{{__sites}}</div>
        <div class="btn baloo-font" [routerLink]="['/RenewTOU',true]">{{__tou}}</div>
        <div class="btn baloo-font" [routerLink]="['/Contact_us']">{{__contact}}</div>
    </div>
</div>