
<Mail_Delay [_isShow]="mailDelay"></Mail_Delay>
<div class="background"></div>
<div class="main_container">
    <div class="header">
        <div class="title baloo-font">
            What’s my Password?!
        </div>
        <div class="subTitle">
            Bad memory is not the end of the world
        </div>
        <Menu [hideMenu]="true"></Menu>
    </div>

    <div class="steps_container">
        <div class="content text-center">
            <form>
                <div class="step_header">
                    <img class="logo" src="./assets/images/logo.png" />
                </div>
                <div *ngIf="state == 'mail'">
                    <div class="forget_msg">
                        What's your mail?
                        <input type="text" name="username" [(ngModel)]="mailAddress"  placeholder="Insert signup mail" />
                        <br />
                        <div  *ngIf="!isLoading" class="btn_container" (click)="SendCode()">
                            <div id="send" class="btn baloo-font">
                                <span>Send</span>
                            </div>
                        </div>
                        <loadingBar *ngIf="isLoading"></loadingBar>
                    </div>
                </div>
                <div *ngIf="state == 'send'">
                    <div class="forget_msg">
                        In order to login, <br />
                        we sent your e-mail a link <br />
                        to reset you password
                    </div>
                    <div class="mail_not_came baloo-font" (click)="MailDelay()">
                        I didn’t get any mail!
                    </div>
                </div>
                <div *ngIf="state == 'recive'">
                    Choose new password:
                    <label class="text-danger" >{{error}}</label>
                    <input type="text" name="username" [(ngModel)]="password" placeholder="Password" />
                    <input type="text" name="password" [(ngModel)]="passwordConfirm" placeholder="Confirm Password" />
                    <br />
                    <div class="btn_container" (click)="SavePassword()">
                        <div id="send" class="btn baloo-font">
                            <span>Save</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

