<!-- <img *ngIf="!_whiteLogo"
     src="./assets/images/logo_smallsize.png" [routerLink]="['/Major']" [class]="smallSize? 'smallSize': ''"/>

<img *ngIf="_whiteLogo" src="./assets/images/white_logo.png" [routerLink]="['/Major']" [class]="smallSize? 'smallSize': ''" /> -->


<img *ngIf="!_whiteLogo"
     src="./assets/images/logo_smallsize.png" [routerLink]="['/Search_specialist']" [class]="smallSize? 'smallSize': ''"/>

<img *ngIf="_whiteLogo" src="./assets/images/white_logo.png" [routerLink]="['/Search_specialist']" [class]="smallSize? 'smallSize': ''" />
